body {
  background: #f6f7f9;
  position: relative;
  &::before{
    content: "";
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-image: url('/image/bg.jpeg');
    z-index: -1;
    opacity: .05;
    background-size: cover;
  }
}
